*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-1:#006ffc;
  --color-2:#6caeed;
  --color-3:#89cff0;
  --color-4:#bde0fe;
  --color-5:#ddeefa;
  --color-6:#fcfbf5;

}
body{
 background-color: var(--color-3);
}
/* nav bar */
.navb{
  display: flex;
  padding: .5rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-1);
  color: var(--color-5);
  font-size: 1.3rem;
}
.navb a{
  color: var(--color-5);
  text-decoration: none;
  margin: 0 1rem;
}
.navb a:hover{
  color: var(--color-6);
  cursor: pointer;
}
/* -----------------------------------login-------------------------------------------------- */
.login_page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.login{
  background-color: var(--color-4);
  width: 40vw;
  border-radius: .7rem;
  padding: 1rem;
}
.btn{
  color: var(--color-1);
  background-color: var(--color-6);
  margin: .5rem;
  padding: 0.5rem;
  border: 2px solid var(--color-2);
  font-size: .9rem;
  border-radius: .7rem;
}
.btn:hover{
  background-color: var(--color-5);
}
.login .btn{
  width: 80%;
}
.google{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.google p{
  text-align: center;
  font-size: 1.3rem;
}
.signup{
  margin-top: 1rem;
}
.signup form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup h1{
  text-align: center;
  font-size: 2rem;
  color: var(--color-1);
  margin: 1rem 0;  
}
.signup input{
  color: var(--color-1);
  background-color: var(--color-6);
  margin: .5rem;
  padding: 0.5rem;
  border: 2px solid var(--color-2);
  font-size: .9rem;
  border-radius: .7rem;
  width: 90%;
}
.signup .btn{
  width: 40%;
}
/* --------------------------------create--------------------------------------------------- */
.create{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.cpContener{
  width: 40%;
  padding: 1rem;
  background-color: var(--color-6);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cpContener h1{
  color: var(--color-1);
  text-align: center;
  border-radius: .5rem;
}
.inputGrp{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  width: 100%;
  background-color: var(--color-5);
  color: var(--color-1);
  margin: 0.5rem;
  padding: 0.3rem;
  border: 1px solid var(--color-2);
  border-radius: .5rem;
  font-size: 1rem;
}
.input:hover{
  border: 1px solid var(--color-1);
}
.input::placeholder{
  color: var(--color-1);
}
.textarea{
  resize: none;
}
.subBtn{
  margin: .5rem auto;
  background-color: var(--color-1);
  color: var(--color-6);
  border: 2px solid var(--color-2);
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}
.subBtn:hover{
  background-color: var(--color-2);
  border:2px solid var(--color-1);
}
/* ---------------------------------------home----------------------------------------------- */

.homepage{
display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 1rem;
  padding: 1rem;
  width: 70%;
  border-radius: 1rem;
  background-color: var(--color-6);
  box-shadow: 2px 2px 2px var(--color-1);
}
.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading button{
  background-color: transparent;
  border: none;
  padding: 0 .2rem;
  color: var(--color-1);
  font-size: 1.2rem;
}
.heading button:hover{
  color: red;
}
.card h1{
  color: var(--color-1);
  font-size: 1.5rem;
}
.card p{
  font-size: 1.1rem;
  padding: .5rem 0;
  color: var(--color-2);
}
.auth{
  font-size: 1.1rem;
  width: 100%;
  color: var(--color-1);
  text-align: right;
}